@import '../../styles/variables';
@import '../../styles/functions';

.overview {
    max-width: rem(960px);
    margin: 0 auto;
    padding: rem(30px);

    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__colors {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        width: rem(250px);
    }

    &__result {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}