.typo-xl-bold {
    font-family: $primary-font;
    font-weight: $font-semibold;
    font-size: $font-size-lg;
}

.typo-md-bold {
    font-family: $primary-font;
    font-weight: $font-semibold;
    font-size: $font-size-md;
}

.typo-s-bold {
    font-family: $primary-font;
    font-weight: $font-semibold;
    font-size: $font-size-s;
}

.typo-s-medium {
    font-family: $primary-font;
    font-weight: $font-medium;
    font-size: $font-size-s;
}