@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

@import 'functions.scss';

$primary-font: "Poppins", "Helvetica", "Arial", sans-serif;

$font-semibold: 600;
$font-medium: 500;

$font-size-lg: rem(50px);
$font-size-md: rem(32px);
$font-size-s: rem(16px);

$primary-color: #5E60CE;
$grey: #7A7A80;
$white: #FFFFFF;
$black: #333333;
$shadow:#0000001A;
$light: #F7F7FC;