@import '../../styles/variables';
@import '../../styles/functions';

.header {
    background-color: $light;

    &__content {
        max-width: rem(960px);
        margin: 0 auto;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: rem(30px);
    }
}